* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: lightgrey;
}
.contanier {
  width: 80%;
  height: 800px;
  margin: 0 auto;
  background-color: #a9ef91;
}
#wrapperTitolo {
  background-color: #77bc62;
}
#wrapperTitolo h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 50px;
  text-align: center;
}
.wrapContenuti  {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}
#wrapElencoNumeri h2{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#wrapElencoNumeri ul li {
  display: inline-flex;
  list-style-type: none;
  background-color: white;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
}
#contenitoreRisultati {
  margin-top: 30px;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  height: 300px;
}
#contenitoreRisultati h3 {
  text-align: center;
}
#risultatiNumeri3 {
  width: 100%;
}
#risultatiNumeri3 ul li {
  display: inline-flex;
  list-style-type: none;
  background-color: yellow;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
}
#risultatiNumeri5 {
  width: 100%;
}
#risultatiNumeri5 ul li {
  display: inline-flex;
  list-style-type: none;
  background-color: orange;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
}
#risultatiNumeriUguali{
  width: 100%;
}
#risultatiNumeriUguali ul li {
  display: inline-flex;
  list-style-type: none;
  background-color: lightgrey;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
}
